rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }

    function getUserData() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }

    function isSuper() {
      let data = getUserData();
      return isSignedIn() && (data.role == 'superadmin' || data.isAdmin == true);
    }

    function isAccountAdmin() {
      return isSignedIn() && getUserData().role == 'account_admin';
    }

    // Regras para Usuários
    match /users/{userId} {
      allow read: if isSignedIn() && (
        request.auth.uid == userId || 
        isSuper() || 
        (isAccountAdmin() && resource.data.accountId == getUserData().accountId)
      );
      
      allow create: if isSuper() || (isAccountAdmin() && request.resource.data.accountId == getUserData().accountId);
      
      allow delete: if isSuper() || (isAccountAdmin() && resource.data.accountId == getUserData().accountId && request.auth.uid != userId);
      
      allow update: if isSignedIn() && (
        isSuper() || 
        (isAccountAdmin() && resource.data.accountId == getUserData().accountId && request.auth.uid != userId) ||
        (request.auth.uid == userId && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['requiresPasswordChange']))
      );
    }

    // Regras para Contas (Empresas)
    match /accounts/{accountId} {
      allow read: if isSignedIn() && (isSuper() || (isAccountAdmin() && accountId == getUserData().accountId));
      allow write: if isSuper();
    }

    // Regras para Subcontas
    match /subaccounts/{subaccId} {
      allow read: if isSignedIn() && (isSuper() || (isAccountAdmin() && resource.data.accountId == getUserData().accountId));
      allow write: if isSuper() || (isAccountAdmin() && (request.resource.data.accountId == getUserData().accountId || resource.data.accountId == getUserData().accountId));
    }

    // Regras para Relatórios (Páginas)
    match /pages/{pageId} {
      allow read: if isSignedIn() && (
        isSuper() || 
        (isAccountAdmin() && resource.data.accountId == getUserData().accountId) ||
        (getUserData().role == 'account_user' && resource.data.accountId == getUserData().accountId) ||
        (getUserData().role == 'subaccount_user' && resource.data.subAccountIds.hasAny(getUserData().subAccountIds))
      );
      allow write: if isSuper() || (isAccountAdmin() && (request.resource.data.accountId == getUserData().accountId || resource.data.accountId == getUserData().accountId));
    }
  }
}
